<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body {% block bodyclass %}{% endblock %}>
{% block body %}{% endblock %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block foot %}{% endblock %}
</body>
</html>